html, body {
    height: 100%;
    width: 100%;
    min-height: auto;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: #dcdcdcdc;
    overflow-x: hidden;
}

/* Background */
#background {
    background: url(/background/dark-lowpoly2.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

/* Landing Screen */
.landing {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    top: 0;
    background: url(../background/landing_screen.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    justify-content: center;
    align-items: center;
   
}

#opacity {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgba(32, 32, 32, 0.7);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    vertical-align: middle;
    max-width: none;
    display: table-cell;
}

.landing-content {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: auto center;
}

.landing-content img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin: 0 0 1.5em 0;
}

.landing-content h1 {
    font-size: 5em;
}

.landing-content h3 {
    font-size: 2.5em;
}

.landing-content ul {
    list-style: none;
    margin: 0 center;
    padding: 0;
}

.landing-content li {
    display: inline;
}

.landing-content .icon {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 .5em 0 0;
    transition: 0.75s;
}

.landing-content .icon:hover {
    color: rgba(255, 255, 255, 1); 
    transition: 0.75s;
}

.landing-content .btn { 
    font-size: 42px;
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
    border: solid 3px;
    border-radius: 28%;
    padding: 6px 15px 0px 15px;
    transition: 0.75s;
    margin-top: 1em;
}

.landing-content .btn:hover {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    transition: 0.75s;
    transform: scale(1.2);
}

/* Main contents of the website*/
.container-custom {
    padding: 1.75em;
    margin: 1.25em;
    background-color: grey;
    border-radius: 0.75em;

}

/* Resize font when website size shrinks */
@media screen and (max-width: 1080px) {
    
    /* Landing Screen font resize */
    .landing-content h1 {
        font-size: 3.5em;
    }
    .landing-content h3 {
        font-size: 1.5em;
    }
    .landing-content img {
        width: 225px;
        height: 225px;
        margin-bottom: 1em;
    }
    .landing-content .icon {
        font-size: 36px;
        padding: 0 .4em 0 0;
    }
    .landing-content .btn {
        font-size: 32px;
        padding: 5px 12px 0px 12px; 
        border-width: 2.5px;
    }
}

/* Resize font when website size shrinks */
@media screen and (max-width: 720px) {
    
    /* Landing Screen font resize */
    .landing-content h1 {
        font-size: 2.5em;
    }
    .landing-content h3 {
        font-size: 1.25em;
    }
    .landing-content img {
        width: 150px;
        height: 150px;
        margin-bottom: 0.75em;
    }
    .landing-content .icon {
        font-size: 24px;
    }
     .landing-content .btn {
        font-size: 24px;
        padding: 4px 10px 0px 10px;
        border-width: 2px;
    }
    
}