html, body {
    height: 100%;
    width: 100%;
    min-height: auto;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: #dcdcdcdc;
    overflow-x: hidden;
}

/* Background */
#background {
    background: url(/background/dark-lowpoly2.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

/* Landing Screen */
.landing {
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    display: table;
    background: url(/background/landing_screen.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

#opacity {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgba(32, 32, 32, 0.7);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: table-cell;
    vertical-align: middle;
    max-width: none;
}

.landing-content {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: auto center;
}

.landing-content img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-bottom: 3em;
}

.landing-content h1 {
    font-size: 5em;
}

.landing-content h3 {
    font-size: 2.5em;
}

.landing-content nav {
    height: 0em;
    width: 3em;
}

.landing-content ul {
    list-style: none;
}

.landing-content li {
    display: inline;
}

.landing-content .icon {
    font-size: 64px;
    color: rgba(255, 255, 255, 1);
    padding: 0 .75em 0 0;
}

/* Main contents of the website*/
.container-custom {
    padding: 1.75em;
    margin: 1.25em;
    background-color: grey;
    border-radius: 0.75em;

}

/* Resize font when website size shrinks */
@media screen and (max-width: 1080px) {
    
    /* Landing Screen font resize */
    .landing-content h1 {
        font-size: 4em;
    }
    .landing-content h3 {
        font-size: 2em;
    }
    .landing-content img {
        width: 225px;
        height: 225px;
        margin-bottom: 2em;
    }
    .landing-content .icon {
        font-size: 54px;
        padding: 0 .5em 0 0;
    }
}

/* Resize font when website size shrinks */
@media screen and (max-width: 720px) {
    
    /* Landing Screen font resize */
    .landing-content h1 {
        font-size: 2.75em;
    }
    .landing-content h3 {
        font-size: 1.25em;
    }
    .landing-content img {
        width: 150px;
        height: 150px;
        margin-bottom: 1.5em;
    }
    .landing-content .icon {
        font-size: 36px;
        padding: 0 .35em 0 0;
    }
    
}