html, body {
    height: 100%;
    width: 100%;
    min-height: auto;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: #dcdcdcdc;
    overflow-x: hidden;
}

/* Background */
#background {
    background: url(/background/dark-lowpoly2.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

/* Landing Screen */
.landing {
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    display: table;
    background: url(/background/landing_screen.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

#opacity {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgba(32, 32, 32, 0.7);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: table-cell;
    vertical-align: middle;
    max-width: none;
}

.content {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: auto center;
}

.content img {
    border-radius: 100%;
    margin-bottom: 3em;
}

.content h1 {
    font-size: 5em;
}

.content h3 {
    font-size: 2.5em;
}

/* Main contents of the website*/
.container-custom {
    padding: 1.75em;
    margin: 1.25em;
    background-color: grey;
    border-radius: 0.75em;

}

/* Resize font when website size shrinks */
@media screen and (max-width: 1080px) {
    
    /* Landing Screen font resize */
    .content h1 {
        font-size: 3.5em;
    }
    .content h3 {
        font-size: 1.75em;
    }
    .content img {
        width: 200px;
        height: 200px;
        margin-bottom: 1.75em;
    
}

/* Resize font when website size shrinks */
@media screen and (max-width: 720px) {
    
    /* Landing Screen font resize */
    .content h1 {
        font-size: 2.75em;
    }
    .content h3 {
        font-size: 1.25em;
    }
    .content img {
        width: 150px;
        height: 150px;
        margin-bottom: 1.25em;
    
}



