html
{
    height: auto;
    min-height: auto;
}
/*Background*/
#background
{
    background-image: url(mountain.png);
    background-size: cover;
    background-repeat: no-repeat; 
    z-index: -1;
}
body
{
    font-family: 'Noto Sans', 'sans-serif';
    font-weight: 100;
}

/*Navigation Bar*/
ul
{
    background-color: #848484;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    height: auto;
    position: fixed;
}
li a
{
    display: block;
    text-decoration: none;
    color: whitesmoke;
    padding: 8px;
    font-size: 2em;
}
/*Footer*/
footer
{
    background-color: #848484;
    color: whitesmoke;
    right: 0;
    bottom: 0;
    margin: 16px 0px 0px 0px;
    padding: 20px;
    text-align: center;
    font-size: 1.30em;
    font-weight: bold;
}
