html
{
    height: 100%;
    min-height: 100%;
}
/*Background*/
#background
{
    background-image: url(city1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
    width: auto;
    marigin: auto;
    z-index: auto;  
}
body
{
    font-family: 'Noto Sans', 'sans-serif';
    font-weight: 100;
}
/*Header Stuff*/
header
{
    width: 100%;
    padding: 14px 16px;
    background-color: rgba(0,20,35,0.85);
    color: white;
}
h2
{
    background-color: rgba(50,50,50,0.7);
    padding: 14px 16px;
    font-size: 1.5em;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    border-style: none;
    border-radius: 11px;
}
/*Section Stuff*/
section
{
    font-size: 20px;
    border-radius: 11px;
    box-shadow: 2px 4px 2px rgba(60,80,80,0.4);
    background-color: rgba(80,80,80,0.7);
    margin: 2% 8% 1.5% 8%;
    color: white
}
p
{
    border-style: none;
    margin: 0;
    padding: 0px 18px 20px 18px;
}
/*Footer Stuff*/
footer
{
    background-color: rgba(0,20,35,0.85);
    color: white;
    width: 100%;
    right: 0;
    bottom: 0;
    position: relative;
    margin: 30px 0px 0px 0px;
    padding: 16px;
    text-align: center;
    font-size: 1.05em;
}
/*Animation and styling of side navigation*/
.overlay
{
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    background-color: rgba(0,20,35,1);
    overflow-x: hidden;
    transition: 0.6s;
}
.overlay-content
{
    position: relative;
    top: 15%;
    width: 100%;
    text-align: left;
}
.overlay a
{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
    display: block;
    transition: 0.8s;
}
.overlay a:hover, .overlay a:focus
{
    color: ;
}
.overlay .closebtn
{
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 50px;
}
#opacity
{
    transition: 1s;
}
@media screen and (max-height: 450px) 
{
    .overlay a 
    {
        font-size: 18px
    }
    .overlay .closebtn 
    {
        font-size: 30px;
        top: 0px;
        right: 35px;
    }
}
