html
{
    height: 100%;
    min-height: 100%;
}
/*Background*/
#background
{
    background-image: url(city1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;     
}
body
{
    background-image: url("mountain1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-style:none;
    position: fixed;
    height: 100%;
    min-height:100%;
    width: 100%;
    min-width: 100%;
    top: 0; right: 0; left: 0;
    margin:0; 
    font-family: 'Roboto Thin', 'sans-serif';
    font-weight: bold;;
}

/*Main Section Stuff*/
div#main
{
    height: 100%;
    overflow-y: auto;
    margin: auto;
}
section
{
    font-size: 20px;
    background-color: #4d4d4d;
    width: 95%;
    margin-top: 24px;
    padding: 1px 0px 1px 24px;
    color: white;
}
/*Navigation Bar Styling*/
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 200px;
    position: fixed;
    overflow: auto;
    background-color: #2d2d2d;
}
li a
{
    font-size: 20px;
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
}
li a:hover
{
    background-color: black;
    color: white;
    text-decoration: underline;
}
