html {
    height: auto;
    min-height: auto;
}

/*Background*/
#background {
    background: url(/nathgoh.github.io/Background/dark-lowpoly2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}   

body {
    margin: 0;
    font-family: 'Arial', 'sans-serif';
    font-weight: 100;
    color: rgb(180,180,190);
}
